 <div class="container">
 <h2>chat webSocket</h2>
    <label>Mail</label>
    <input type="text" id="mail">
    <label>menssage</label>    
    <input type="text" id="menssageField"> 
    
    </div>   
    <div id="MensaggesContainer">

        
    </div>