
 <h2>chat webSocket</h2>
 <h3 id="compresion" style="color:blue" ></h3>  
 <form class="container col-sm-8"   >
   <select name="" id="select">
      <option selected></option>
      <option>mario</option>
      <option >fernaldo</option>
      <option>maria</option>
      <option>julian</option>
   </select><br>
    <label>Mail</label>
    <input type="text" id="mail" class="form-control">
    <br>
    <label>Nombre</label>
    <input type="text" id="name" class="form-control">
    <br>
    <label>Apellido</label>
    <input type="text" id="surname" class="form-control" >
    <br>
    <label>Edad</label>
    <input type="number" id="age" class="form-control">
    <br>
    <label>Alias</label>
    <input type="text" id="alias" class="form-control">
    <br>
    
    <label>avatar</label>    
    <input type="text" id="urlimg" class="form-control" class="form-control"> 
    <br>
      
    </form>
   <input type="text" class="form-control"   name="mensaje" id="mensaje" placeholder="mensaje">
    <input type="button" value="enviar" class="btn btn-success" id="send">
    <input type="button" value="deleteAll" class="btn btn-danger" id="delete">  
    <div id="MensaggesContainer">

        
    </div>